.container {
  display: flex;
  justify-content: center;
  padding: 10%;
}

div.converter {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  padding: 5%;
  border-radius: 20px;
  border: 3px solid #ebebeb;
}

div.converter > input,
div.converter > div {
  padding: 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
}

div.converter > input {
  /* border-radius: 15px; */
  border: 2px solid #ebebeb;
}

div.converter > div {
  font-weight: bold;
  margin-top: 50px;
}
